/* Importing fonts and normalize.css for styling */
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);


body {
    font-family: "Roboto Condensed", sans-serif;
    color: black;
}


*{
    box-sizing: border-box
}

a{
    text-decoration: none;
}

/* styling the header */
header {
    background-color: lightgray;
    height: 110px;
    padding: 10px;
}



.logo {
    width: 90px;
    
}


/* logo image size */
.logo img {
    width: 90px;
    position: relative;
    right: 150px;
    
   
}

/* Navigation bar layout */
nav {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}



.lang-menu{
    margin-top: 25px;
    position: relative;
}



.selected-lang {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100px;
}



/* creates the dropdown menu */
.lang-menu ul{
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 0px 1px 10px rgba(0, 0, 0.2,);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 40px;
    right:  0;
}

#quiz-container {
    width: 400px;
    margin: 40px auto;
    padding: 24px;
    background: #f9f9f9;
    border: 2px solid #333;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

.answer-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin-top: 16px;
}

.answer-btn{
    padding: 16px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    color : #fff;
    cursor: pointer;
    transition: transform 0.1s;
}

.btn-a {background-color: red;}
.btn-b {background-color: blue;}
.btn-c {background-color: green;}
.btn-d {background-color: yellow;}

.answer-btn:active {
    transform: scale (0.97);
}

.lang-menu ul li {
    list-style: none;
}


.lang-menu ul li a {
    width: 140px;
    display: block;
    padding: 5px 10px;
}

/*styles the slider */
.volumeSlider{
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 15px;

}

.desc-row{
    display: flex;
    align-items: center;
    gap: 16px;
}

#description {
    margin: 0;
}



/* Flag icons for each language option */
.lang-menu ul li a.English::before {
    content: '';
    display: inline-block;
    width: 40px;  
    height: 25px; 
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg);
    background-size: cover;  
}

.lang-menu ul li a.Spanish::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 25px;
    background-image: url(https://commons.wikimedia.org/wiki/Special:FilePath/Flag_of_Spain.svg);
    background-size: cover;
}

.lang-menu ul li a.German::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 25px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg);
    background-size: cover;
}

.lang-menu ul li a.French::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 25px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg);
    background-size: cover;
}


.lang-menu ul li a:hover {
    background-color: #f2f2f2;
   
}


.lang-menu:hover ul{
    display: block;
}

#music {
    display: none;
}
